body {
  font-family: 'chicagoflfregular';
  color: rgb(218,224,231);
  background-color: rgb(17,27,30);
  text-shadow: 0 0 1px rgb(150, 155, 161),
  0 0 1.5px rgb(150, 155, 161),
  0 0 1px rgb(150, 155, 161),
  0 0 1px rgb(150, 155, 161);
}
a{
  text-decoration: none;
  color: rgb(218, 224, 231);
}
li a:hover{
  font-size: 17px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* 2 columns (600px) */

@media only screen and (min-width:600px) {
  .container .col {
    float: left;
    width: 50%;
  }
}


/* 3 columns (768px) */

@media only screen and (min-width:768px) {
  .container .col {
    width: 33.333%;
  }
}


/* 4 columns (992px) */

@media only screen and (min-width:992px) {
  .container .col {
    width: 25%;
  }
}

.navbar {
  overflow: hidden;
  background-color: rgb(17,27,30);
  font-family: 'chicagoflfregular';
  font-size: 14px;
  max-width: 100%;
  position: top;
}

.navbar a {
  float: left;
  font-weight: 600;
  color: rgb(218,224,231);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 1px solid rgb(218, 224,231);
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 14px;  
  border: 1px solid rgb(218, 224,231);
  outline: none;
  color: rgb(218,224,231);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-shadow: 0 0 1px rgb(150, 155, 161),
  0 0 1.5px rgb(150, 155, 161),
  0 0 1px rgb(150, 155, 161),
  0 0 1px rgb(150, 155, 161);
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus, button.a:hover, input.submit:hover, div.clickable:hover {
  background-color: rgb(66,81,88);
  font-size: 14px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(17,27,30);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(218,224,231);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(66,81,88);
}

.show {
  display: block;
}

#calendar-card{
  border: 2px dashed rgb(218, 224, 231);
  float: left;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
button .a, input.submit{
  background-color: rgb(17,27,30);
  max-width: 160px;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid rgb(218, 224,231);
  outline: none;
  color: rgb(218,224,231);
  padding: 14px 16px;
  font-family: inherit;
  text-shadow: 0 0 1px rgb(150, 155, 161),
  0 0 1.5px rgb(150, 155, 161),
  0 0 1px rgb(150, 155, 161),
  0 0 1px rgb(150, 155, 161);
}
div.clickable{
  background-color: rgb(17,27,30);
  max-width: 125px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid rgb(218, 224,231);
  outline: none;
  color: rgb(218,224,231);
  padding: 10px;
  text-align: center;
  font-family: inherit;
  text-shadow: 0 0 1px rgb(150, 155, 161),
  0 0 1.5px rgb(150, 155, 161),
  0 0 1px rgb(150, 155, 161),
  0 0 1px rgb(150, 155, 161);
}
.recipe-detail{
  max-width: 300px;
}
div.front-page h2, div.front-page p{
text-align: center;
}

/* todo: finish styling */