@{
  Layout = "_Layout";
}

<div class="front-page">
  <h2>Hey Kids, What's For Dinner?</h2>


  <p>
    <img src="~/img/whats-for-dinner-logo.png" class="logo">
  </p>

  <p>Welcome to the app designed for you to take the guess work out of what you're going to eat. Enter in your favorite recipes and we'll create a meal plan for the coming week.</p>
</div>