@{
  Layout = "_Layout";
}

<div>
  <h2>Hey Kids, What's For Dinner?</h2>

<pre>
  <p>                 ___          /|
         ||||     .-"`   `"-.     } |  __
    |||| ||||   .'  .-'`'-.  '.   } | /  \
    |||| \  /  /  .'       '.  \  } | ;();
    \  /  ||  /  ;           ;  \  \| \  /
     ||   ||  | ;             ; |  ||  ||
     ||   ||  | ;             ; |  %%  ||
     %%   %%  \  ;           ;  /  %%  ||
     %%   %%   \  '.       .'  /   %%  %%
     %%   %%    '.  `-.,.-'  .'    %%  %%
     %%   %%      '-.,___,.-'      %%  %%
</p>
</pre>
  <p>Welcome to the app designed for you to take the guess work out of what you're going to eat. Enter in your favorite recipes and we'll create a meal plan for the coming week.</p>
</div>