@{
  Layout = "_Layout";
}
@using WhatsForDinner.Models;
@model List<WhatsForDinner.Models.Recipe>

@if(Model.Count == 0)
{
  <h3>No recipes have been added yet!</h3>
}
else
{
  <ul>
    <h4>Breakfast Recipes</h4>
    @foreach(Recipe recipe in Model)
    {
      if(recipe.isBreakfast){
        <li>@Html.ActionLink($"{recipe.Title}", "Details", new {id = recipe.RecipeId})</li>
      }
    }
    <h4>Lunch Recipes</h4>
    @foreach(Recipe recipe in Model)
    {
      if(recipe.isLunch){
        <li>@Html.ActionLink($"{recipe.Title}", "Details", new {id = recipe.RecipeId})</li>
      }
    }
    <h4>Dinner Recipes</h4>
    @foreach(Recipe recipe in Model)
    {
      if(recipe.isDinner){
        <li>@Html.ActionLink($"{recipe.Title}", "Details", new {id = recipe.RecipeId})</li>
      }
    }
  </ul>
}
