@{
  Layout = "_Layout";
}

@using System.Security.Claims

@if(User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!
    @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-default" value="Log out"/>
  }
  </p>
  <h2>Upcoming Recipes</h2>
  
  <h2>Recipe Calendar</h2>
}
else{
  <p>@Html.ActionLink("Register", "Register")</p>
  <p>@Html.ActionLink("Log In", "Login")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
}