@{
  Layout = "_Layout";
}

@using WhatsForDinner.ViewModels
@model LoginViewModel

<h2>Log in with your account</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(m=>m.Email)<br>
  @Html.TextBoxFor(m=>m.Email)<br>

  @Html.LabelFor(m=>m.Password)<br>
  @Html.PasswordFor(m=> m.Password)<br>

  <input type="submit" value="Log in" class="submit"/>
}