@{
  Layout = "_Layout";
}

<p>What meal would you like to create a plan for?</p>
<div class="clickable">@Html.ActionLink("Everything","CreateAll","Calendars" )</div>
<div class="clickable">@Html.ActionLink("Just Breakfast","CreateBreakfast","Calendars" )</div>
<div class="clickable">@Html.ActionLink("Just Lunch","CreateLunch","Calendars" )</div>
<div class="clickable">@Html.ActionLink("Just Dinners","CreateDinner","Calendars" )</div>

