@* @{
  Layout = "_Layout";
}
@using WhatsForDinner.Models;
@model List<WhatsForDinner.Models.Recipe>;

  <p>What kind of meal plan would you like to create?</p>
  <button>@Html.ActionLink("All of it", "CreateAll", "Calendars")</button>
  <button>@Html.ActionLink("Breakfasts", "CreateBreakfast", "Calendars")</button>
  <button>@Html.ActionLink("Lunches", "CreateLunch", "Calendars")</button>
  <button>@Html.ActionLink("Dinners", "CreateDinner","Calendars")</button>
 *@
