@{
  Layout = "_Layout";
}
@using WhatsForDinner.Models;
@model List<WhatsForDinner.Models.RecipeWeek>

@if(Model.Count == 0)
{
  <h3>No meal plans have been created yet!</h3>
}
else
{
  <h3>Full Plans</h3>
  @foreach(RecipeWeek recipeWeek in Model)
  {
    if(recipeWeek.EverythingPlan){
      <li>@Html.ActionLink($"Week Of: {recipeWeek.WeekOf.ToShortDateString()}","Details", new{id= recipeWeek.RecipeWeekId})</li>
    }
  }
  <h3>Breakfast Plans</h3>

  @foreach(RecipeWeek recipeWeek in Model)
  {
    if(recipeWeek.BreakfastPlan){
      <li>@Html.ActionLink($"Week Of: {recipeWeek.WeekOf.ToShortDateString()}","Details", new{id= recipeWeek.RecipeWeekId})</li>
    }
  }

  <h3>Lunch Plans</h3>
  @foreach(RecipeWeek recipeWeek in Model)
  {
    if(recipeWeek.LunchPlan){
      <li>@Html.ActionLink($"Week Of: {recipeWeek.WeekOf.ToShortDateString()}","Details", new{id= recipeWeek.RecipeWeekId})</li>
    }
  }
  <h3>Dinner Plans</h3>
  @foreach(RecipeWeek recipeWeek in Model)
  {
    if(recipeWeek.DinnerPlan){
      <li>@Html.ActionLink($"Week Of: {recipeWeek.WeekOf.ToShortDateString()}","Details", new{id= recipeWeek.RecipeWeekId})</li>
    }
  }
}

