<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>What's For Dinner?</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/styles.css">
</head>
<body>

<div class="navbar">
  <a href="/">Hey Kids, What's For Dinner?</a>
  @if(User.Identity.IsAuthenticated){
  <a href="/Account/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
  <div class="dropdown">
  <button class="dropbtn" onclick="recipesFunction()"><i class="fa fa-cutlery" aria-hidden="true"></i> Recipes
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content" id="recipesDropDown">
    <a href="/Recipes/Create">Add a Recipe</a>
    <a href="/Recipes/Import">Import Recipe from URL</a>
    <a href="/Recipes/">Recipe Index</a>
  </div>
  </div>
  <div class="dropdown">
  <button class="dropbtn" onclick="mealPlanFunction()"><i class="fa fa-calendar-o" aria-hidden="true"></i> Meal Plans
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content" id="mealPlanDropDown">
    <a href="/Calendars/CreateAll">Create meal plan</a>
    <a href="/Calendars/">All Meal Plans</a>
  </div>
  </div>
  <a href="/Account/"><i class="fa fa-user-circle-o" aria-hidden="true"></i> @User.Identity.Name's Account</a>
  }
  else{
    <a href="/Account/Login">Login</a>
    <a href="/Account/Register">Sign Up</a>
  }
</div>


<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function recipesFunction() {
  document.getElementById("recipesDropDown").classList.toggle("show");
}
function mealPlanFunction() {
  document.getElementById("mealPlanDropDown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
  var recipeDropDown = document.getElementById("recipesDropDown");
    if (recipesDropDown.classList.contains('show')) {
      recipesDropDown.classList.remove('show');
    }
  }
}
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
  var mealPlanDropDown = document.getElementById("mealPlanDropDown");
    if (mealPlanDropDown.classList.contains('show')) {
      mealPlanDropDown.classList.remove('show');
    }
  }
}
</script>
<div class="container">
@RenderBody()
</div>
</body>
</html>
@* todo: add username to navbar, option to sign out from nav *@